

# Arquivos de ambiente - NUNCA comitar
# Isso vai ignorar QUALQUER arquivo .env em QUALQUER subpasta
**/.env
**/.env.local

# Pasta de sessões do Baileys
**/.sessions/

# Pastas de dependências
# Isso vai ignorar QUALQUER pasta node_modules em QUALQUER subpasta
**/node_modules/